/* gerais */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f3e3;
}
/* navbar */
.container-fluid .navbar-brand img {
  width: 15rem;
}
.nav-link {
  color: #f7f3e3;
  position: relative;
  transition: 0.1s ease-in-out;
}
.nav-link:focus {
  color: #f7f3e3;
  font-weight: 600;
}
.nav-item:hover .nav-link {
  color: #f7f3e3;
  font-weight: 500;
}
.nav-link.active {
  font-weight: 500;
}
.navbar-toggler {
  border: none;
  outline: none;
}

/* navbar */
@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #f7f3e3;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before,
  .nav-link.home:hover::before {
    width: 100%;
    visibility: visible;
  }
}
.home {
  width: 100%;
  min-height: 80vh;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f7f3e3;
}
.home h2 {
  margin-top: -4rem;
  font-weight: 300;
}
.home img {
  width: 40rem;
}
.index{
  background-image: url(../img/image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
#storebooks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
}
#storebooks h2{
  color: #461b0b;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
.book{
  width: 20rem;
  height: 12rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #f7f5eb;
  border-radius: 0.5rem;
  box-shadow: 0.8rem 0.7rem 0.5rem rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.info-book{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.info-book button{
  background-color: #5e2208;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  width: 10rem;
    color: #ff9505;
  text-decoration: none;
  height: 2rem;
}

.book h3{
  font-size: 1.3rem;
}
.book span{
  font-weight: 500;
}
.book img{
  width: 6.5rem;
}
.shelve{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.5rem;
}
.search-book{
  width: 18rem;
  height: 2rem;
  overflow: hidden;
  display: flex;
  margin-bottom: 2rem;
}
.search-book input{
  padding: 0 0.2rem;
  width: 85%;
  outline: none;
  border-radius:  0.5rem 0 0  0.5rem  ;
  border: 0.1rem solid black;
  border-right: none;
}
.search-book button{
  width: 15%;
  border-radius: 0 0.5rem 0.5rem 0 ;
  border: none;
  background-color: #461b0b;
  color: #ff9505;
  transition: 0.3s ease-in;
}
.search-book button:hover{
  background-color: #5e2208;
}
footer{
  background-color: #461b0b;
  color: #f7f3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
@media (max-width:1400px){
  .shelve{
    grid-template-columns: repeat(3,1fr);
  }
  
  .book{
    width: 16rem;
    height: 10rem;
  }
  .book img{
    width: 5rem;
  }
  .info-book button{
    width: 8rem;
  }
}
@media (max-width:800px){
 .shelve{
    grid-template-columns: repeat(2,1fr);
  }
  
}
@media (max-width:700px){
  #storebooks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.home img{
  width: 28rem;
}
.home h2{
  font-size: 1.5rem;
}
.book h3{
  font-size: 1.1rem;
}
  .book{
    width: 12rem;
    height: 9rem;
  }
  .book img{
    width: 4rem;
  }
  .info-book button{
    width: 6rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    height: 1.5rem;
  }
}
@media (max-width:450px){
   .shelve{
    grid-template-columns: repeat(1,1fr);
  }
  .book{
    width: 20rem;
    height: 12rem;
  }
  .book img{
    width: 6rem;
  }
  .info-book button{
    height: 2rem;
    width: 7rem;
    font-size: 1rem;
  }
.home img{
  width: 20rem;
}
.home h2{
  font-size: 1.2rem;
   margin-top: -2rem;
}
}