/* gerais */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f3e3;
}
/* navbar */
.container-fluid .navbar-brand img {
  width: 15rem;
}
.nav-link {
  color: #5e2208;
  position: relative;
  transition: 0.1s ease-in-out;
}
.nav-link:focus {
  color: #5e2208;
  font-weight: 600;
}
.nav-item:hover .nav-link {
  color: #5e2208;
  font-weight: 500;
}
.nav-link.active {
  font-weight: 500;
}
.navbar-toggler {
  border: none;
  outline: none;
}

/* página de contatos */
.main-contatos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 1.5rem 0;
}
.container-dev {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-dev h2 {
  color: #5e2208;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
}
.container-dev span {
  color: #1e1e1e;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
}

.container-dev .image-dev {
  width: 20rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0.1rem 0.3rem 0.7rem 0.3rem rgba(0, 0, 0, 0.2);
}
.container-dev .image-dev img {
  width: 100%;
}
.container-dev .container-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.container-dev .container-icons a {
  color: #5e2208;
  font-size: 2rem;
}
.container-forms-dev {
  background-color: #f7f5eb;
  width: 25rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.3rem 0.7rem 0.3rem rgba(0, 0, 0, 0.2);
}
.container-forms-dev form {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
  flex-direction: column;
}
.container-forms-dev form input {
  height: 2rem;
  outline: none;
  border: 0.1rem solid #5e2208;
  width: 18rem;
  padding: 0 0.2rem;
  border-radius: 0.3rem;
}
.container-forms-dev form textarea {
  outline: none;
  border: 0.1rem solid #5e2208;
  width: 18rem;
  padding: 0 0.2rem;
  border-radius: 0.3rem;
}
.container-forms-dev form input::placeholder,
textarea::placeholder {
  color: #5e2208;
}
.container-forms-dev form input[type="submit"] {
  background-color: #5e2208;
  color: #f7f5eb;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.container-forms-dev form input[type="submit"]:hover {
  background-color: #461b0b;
}
/* perfil */
#passwordKey{
  font-weight: 500;
  color: #5e2208;
  text-decoration: none;
  transition: 0.3s ease;
}
#passwordKey:hover{
  color: #ff9505;
}
.header-perfil {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.5rem;
  align-items: center;
}
.header-perfil h1 {
  color: #461b0b;
}
.header-perfil a {
  background-color: #ff9505;
  width: 4rem;
  color: #f7f5eb;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  height: 2rem;
}
.container-perfil {
  align-items: center;
  width: 100%;
  display: flex;
}
.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  min-height: 80vh;
  border-bottom-right-radius: 50%;
}
.container-perfil h1 {
  color: #461b0b;
}
.container-form form {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  gap: 1rem;
  flex-direction: column;
}
.container-perfil .container-form input {
  height: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 0.2rem solid #461b0b;
}
.container-perfil .container-form input[type="submit"] {
  background-color: #461b0b;
  color: #f7f5eb;
  font-weight: 500;
  border-radius: 0.4rem;
}
.image-form {
  min-height: 75vh;
  display: flex;
  align-items: center;
}
.image-form img {
  width: 25rem;
}
/* carrinho */
.alert-email{
  position: absolute;
  right: 60%;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 2.8rem;
  width: 16rem;
  font-size: 1.1rem;
  box-shadow: 0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  font-weight: 500;
  transition: 0.6s ease-in;
}
.alert-email i{
  color: green;
}
#produtos {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: 70%;
}
.lista-compras {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#produtos .card-Produtos {
  padding: 0.3rem;
  margin-bottom: 0.8rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
  width: 26rem;
  height: 15rem;
  background-color: #f7f3e3;
  border-radius: 0.5rem;
  box-shadow: 0.8rem 0.8rem 0.6rem rgba(0, 0, 0, 0.1);
}
#produtos .card-Produtos img {
  width: 9rem;
  border-radius: 0.5rem;
}
#produtos .card-Produtos .info-produtos {
  display: flex;
  flex-direction: column;
}
#produtos .card-Produtos .info-produtos h3 {
  font-size: 1.2rem;
  color: #5e2208;
}
#produtos .card-Produtos .info-produtos .preco {
  font-weight: 500;
}
#produtos .card-Produtos .info-produtos button {
  width: 8rem;
  height: 2rem;
  background-color: #5e2208;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}
#produtos .card-Produtos .info-produtos button a {
  text-decoration: none;
  color: #ff9505;
  font-weight: 500;
}
#produtos .card-Produtos .info-produtos button:hover {
  scale: 1.1;
}
#produtos .card-Produtos .info-produtos .apagar {
  background-color: red;
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in;
}
#produtos .card-Produtos .info-produtos .apagar:hover {
  background-color: darkred;
}
#produtos .card-Produtos .info-produtos .apagar ,
#produtos .clean a {
  text-decoration: none;
  color: #f7f5eb;
  font-weight: 500;
}
#produtos .clean {
  width: 7rem;
  border: none;
  height: 2rem;
  background-color: #5e2208;
  border-radius: 0.5rem;
}
.container-carrinho {
  display: flex;
  padding: 0.6rem;
}
#produtos .config-qtd {
  display: flex;
  gap: 0.3rem;
}
#produtos .card-Produtos .info-produtos .config-qtd button {
  width: 2rem;
  color: #f7f5eb;
  height: 2rem;
}
#pagamento {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: fit-content;
  padding: 0.5rem;
  box-shadow: 0.5rem 0.6rem 0.6rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem
}
#pagamento .card-produtos h2,
#pagamento .card-produtos h3 {
  color: #461b0b;
}
#pagamento .card-produtos button {
  width: 12rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #461b0b;
  transition: 0.3s ease-in;
  color: #f7f5eb;
  font-weight: 500;
  text-decoration: none;
}
#pagamento .card-produtos button:hover {
  background-color: #5e2208;
  color: #ff9505;
}
/* navbar */
@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #5e2208;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before,
  .nav-link.home:hover::before {
    width: 100%;
    visibility: visible;
  }
}
@media (max-width: 1024px) {
  .lista-compras {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 750px) {
  .main-contatos {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  .container-carrinho {
    flex-direction: column-reverse;
  }
  #produtos,
  #pagamento {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .header-perfil {
    flex-direction: column;
  }
  .nav {
    flex-direction: column;
  }
  .container-dev .image-dev {
    width: 16rem;
  }
  .container-dev span {
    font-size: 1.3rem;
  }
  .container-forms-dev {
    width: 20rem;
  }
  .container-forms-dev form input,
  .container-forms-dev form textarea {
    width: 15rem;
  }
}

@media (max-width: 800px) {
  .header-perfil h1 {
    font-size: 2rem;
  }
  .container-form p {
    font-size: 1rem;
  }
  .container-form form input {
    height: 2rem;
    width: 16rem;
  }
  .form-house #cep {
    width: 9.5rem;
  }
  .form-house #nCasa {
    width: 6rem;
  }
  .image-form img {
    width: 20rem;
  }
}
@media (max-width: 680px) {
  .header-perfil h1 {
    font-size: 1.4rem;
  }
  .container-perfil {
    flex-direction: column-reverse;
  }

  .container-form {
    width: 100%;
    min-height: 75vh;
    padding: 1.5rem 0.5rem;
    justify-content: start;
  }
  .container-form form {
    justify-content: start;
  }
  .image-form {
    min-height: 25vh;
  }
  .image-form img {
    width: 16rem;
  }
}
@media (max-width: 400px) {
  .container-form {
    min-height: 65vh;
    justify-content: center;
  }
  .image-form {
    min-height: 35vh;
  }
}
